.container-halaman1{
    height: 100vh;
    position: relative;
    width: 20vw;
    margin: 300px auto;
    text-align: center;
    height: 100px;

}

.container-halaman2{
    height: 100vh;
}

.btn-flexible{
    border-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 30px;
    background-color: white;
    margin-top: 20px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px silver;
    /* color: linear-gradient(red, yellow); */
}